@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Yantramanav:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-2 {
    width: 16.66%;
    padding-left: 12px;
    padding-right: 12px;
}

/* .col-12{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
} */

.bg_black {
    background-color: black;
}

.logo {
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo_lname {
    color: Orange;
}

.button {
    padding: 12px 32px;
    border-radius: 23.5px;
    color: white;
    border: none;
    border-radius: 23.5px;
    background: var(--gradient-h, linear-gradient(90deg, #FFA800 0%, #F06500 100%));
}

.py_23 {
    padding: 23px 0;
}

/* .button:hover {
    background-color: orange;
    color: white;
} */

.nav_link {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.color_white {
    color: white;
}

.d_flex {
    display: flex;
}

.flex_column {
    flex-direction: column;
}

.min_vh {
    min-height: 100vh;
}

.align_center {
    align-items: center;
}

.w_100 {
    width: 100%;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

.justify_end {
    justify-content: end;
}

.align_end {
    align-items: end;
}

.gap_32 {
    gap: 32px;
}

/* .w_width {
width: 60%;
} */
.mt_59 {
    margin-top: 59px;
}

.mb_0 {
    margin-bottom: 0;
}

.p_relative {
    position: relative;
}

.flex_grow {
    flex-grow: 1;
}

body {
    background-color: black;
}

.menu span {
    display: flex;
    width: 40px;
    height: 4px;
    margin-top: 7px;
    background-color: white;
}
ul{
    margin-bottom: unset !important;
}
.header {
    background-image: url('../images/Group\ 156Full-moon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
}

/* .pt_59{
        padding-top: 59px;
    } */
.color_white {
    color: white;
}


.hero_heading {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
    max-width: 660px;
    margin-bottom: 24px;
}

.hero_para {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 660px;
    margin-bottom: 50px;
}

/* .min_w{
    max-width: 100vw;
} */
.absolute {
    position: absolute;
    bottom: 0%;
    left: 0;
}

.cursus {
    border-radius: 10px;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(16px);
    border: 1px solid #363332;
    padding: 24px;
    position: relative;
    z-index: 1;
}


.cusus_heading {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
  
}
.fs_48{
    font-size: 48px;
}
.mb_24 {
    margin-bottom: 24px;
}
.max_w_500{
    max-width: 500px;
}
.cursus_para {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    opacity: 0.699999988079071;
    /* margin-bottom: 48px; */
}

.mb_16 {
    margin-bottom: 16px;
}

.transform_translate {
    transform: translateY(-6%);
}

.ist_shadow {
    z-index: 1;
    height: 303px;
    background: linear-gradient(180deg, rgba(12, 11, 11, 0.00) 0%, #0C0B0B 100%);
}

.section_third {
    padding: 88px 0;
    background-image: url('../images/third_background.png');
}

/* .p_70 {
    padding: 67px 97px 70px 66px;
} */

.buy {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;

}

.box {
    border-radius: 46px;
    background-color: #151313;
}

.mb_16 {
    margin-bottom: 16px;
}

.box:hover {
    background-color: black;
}

.circle {
    height: 71px;
    width: 71px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: white;
    margin-right: 23px;
}

.box:hover .circle {
    background-color: orange;
}

.box:hover .number {
    color: white;
}

.box_para,
.box_heading {
    color: white;
}

.box_heading {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.box_para {
    color:#B8B8B8;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.number {
    color: black;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

/* .overflow_visible {
    overflow: visible;
} */

.forth_heading {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
    padding: 62px 0 32px 0;
}

.cards {
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #3A3939;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(16px);
}

.cards_topic {
    margin-bottom: 16px;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.value_heading {
    color: #BCBCBC;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.value {
    color: var(--white, #FFF);

    /* Heading-S */
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: unset;
}

.gap_106 {
    gap: 106px;
}

.value:hover {
    color: #F06500;
}

.f_box {
    height: 50px;
    width: 50px;

}

.color_f1 {
    border-radius: 4px;
    background: #00E396;
}

.color_f2 {
    border-radius: 4px;
    background: #F06500;
}

.color_f3 {
    border-radius: 4px;
    background: #8B35E2;
}

.color_f4 {
    border-radius: 4px;
    background: #00B2FF;
}

.color_f5 {
    border-radius: 4px;
    background: #FFA800;
}

.color_f6 {
    border-radius: 4px;
    background: #FF4560;
}

.mb_15 {
    margin-bottom: 15px;
}

.mr_25 {
    margin-right: 25px;
}

.shadow {
    border: 1px solid #3F3E3E;
    border-radius: 10px;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(16px);
    padding: 67px 97px 70px 66px;
}

.h_100 {
    height: 100%;
}

.mt_22 {
    margin-top: 22px;
}

table {
    text-align: center;
    border-spacing: unset;
}

tbody {
    border-radius: 10px !important;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
    /* backdrop-filter: blur(16px); */
    border: 1px solid #444444 !important;
    color: #FFF;
    
        /* Body */
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        /* 32.4px */
}


th {
    padding: 12px;
    color: #FFF;
        text-align: center;
    
        /* Body, Semibold */
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 180%;
        /* 32.4px */
}

td {
    padding-bottom: 28px;
}

.roadmap {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;
    margin-bottom: 59px;
    margin-top: 59px;

}

.mb_73 {
    margin-bottom: 73px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.r_para {
    color: #B6B5B5;
    max-width: 260px;
    color: #B6B5B5;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
}
.phases{
    color: var(--white, #FFF);
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 5%;
    bottom: 20%;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline_container {
    padding: 10px 60px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline_container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #F68301;
    /* border: 4px solid #FF9F55; */
    top: 38px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}



/* Fix the circle for containers on the right side */
.right::after {
    left: -13px;
}

.text_end {
    text-align: end;
}

.align-end {
    align-items: end;
}

/* The actual content */
.content {
    padding: 20px 30px;
    /* background-color: white; */
    position: relative;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.sixth_heading {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%;

}

.accordion-button {
    background-color: #111010 !important;
    color: var(--white, #FFF);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 150%; 
}

.accordion-body {
    background-color: #0F0E0E !important;
    color: #B8B8B8 !important;
    border-radius: 10px;
    color: var(--white, #FFF);

/* Body */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 32.4px */
}

.accordion-button {
    color: white !important;
    border: 2px solid #424242 !important;
    border-radius: 10px !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.mb_8 {
    margin-bottom: 8px;
}
.accordion-item {
    border-color: #282828 !important;
    border-radius: 10px;
    border: none !important;
    border-style: solid;
    /* background-color: var(--bs-accordion-bg); */
    background-color: unset !important;
}

.accordion-button::after {
    background-image: url('../images/bx_bx-chevron-down.png') !important;
}
.w_75 {
    width: 75%;
}

.second_left_ellipse {
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: -1;
}

.second_right_ellipse {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.second_middle_ellipse {
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: -1;
}

.fifth_left_ellipse {
    position: absolute;
    top: 8%;
    left: 0;
    z-index: -1;
}

.fifth_right_circle_ellipse {
    position: absolute;
    right: 0;
    top: 0%;
    z-index: -1;
}

.fifth_right_ellipse {
    position: absolute;
    top: 15%;
    right: 0;
    z-index: -1;
}

.sixth_right_bottom_circle_ellipse {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.sixth_right_bottom_ellipse {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
tr>td{
    color:#B8B8B8;
}





























/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline_container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline_container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 18px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    .text_sm_start {
        text-align: start;
    }

    .align_sm_start {
        align-items: start;
    }
}

@media (min-width:576px) {
    .transform-sm {
        transform: translateY(-27%);
    }

    .transform_translate {
        transform: translateY(-27%);
    }
    .box_heading{
        font-size: 22px;
    }
    .box_para{
        font-size: 18px;
    }
}

@media (min-width:768px) {
    .fs_md_48 {
        font-size: 48px;
    }
}

@media (min-width:992px) {
    .overflow-lg-right {
        position: absolute;
        right: 0;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
    }



    /* .transform_lg {
        transform: translateY(-23%);
    } */

    .w-lg-100 {
        width: 100%;
    }
}

@media (max-width:1200px) {
    .nav_ul {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-color: black;
        justify-content: center;
        align-items: center;
        right: -100%;
        position: fixed;
        top: 0;
        transition: all 1000ms linear;
        z-index: 2;
    }


    input[type="checkbox"]:checked+.nav_ul {
        right: 0;
    }

    .menu {
        z-index: 3;
    }

}

@media (min-width:1200px) {
    .menu {
        display: none;
    }

    .w_xl {
        width: 90%;
    }

    .fs_xl_96 {
        font-size: 96px;
    }
}